[alias]
    # https://gist.github.com/4117588
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    b = branch -a
    ci = commit
    ci = commit --amend
    co = checkout
    d = diff
    dw = diff --color-words
    di = diff
    f = fetch --prune
    fs = !git f && git su
    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
    info = remote show origin
    l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    ll = log --stat --abbrev-commit
    ln = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' -name-status
    lp = log --oneline -n 20 -p
    ls = log --stat --abbrev-commit -n 1 # display previous log
    r = !git ls-files -z --deleted | xargs -0 git rm
    s = status -sb
    st = status -sb
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[core]
	excludesfile = /opt/boxen/config/git/gitignore
    pager = less -r
[color "diff"]
    whitespace = red
[color]
    ui = auto
[gui]
    editor = gedit
    diffcontext = 7
    historybrowser = gitk
    fontdiff = -family \"Ricty Discord\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
    ff = false
    tool = meld
    keepbackup = false
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[push]
    default = tracking
[include]
    path = ~/.gitconfig.local

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
[ghq]
        root = ~/local/src
